.main-container {
  width: 95%;
  margin: 0 auto;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  color: white;
}

.box-1, .box-2 {
  width: 49.75%;
}

.box-1 {
  float: left;
}

.box-2 {
  float: right;
}

.video {
  border-radius: 10px;
  border: 2px solid grey;
}

.chat {
  clear: both;
  width: 95%;
  border: 2px solid grey;
  border-radius: 10px;
  height: 100px;
  padding: 10px 10px 15px 15px;
  position: absolute;
  bottom: 10px;
  left: 2.5%;
}

.landing {
  height: 100vh;
  background: url(./img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -999;
}