.main-container {
  margin-left: 0px;
  margin-right: 0px;
}

.chat-column {
  width: 50%;
}

.video-column {
  width: 30%;
}

#remoteVideo {
  width: 150%;
}

#localVideo {
  width: 30%;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  color: white;
}

.video {
  border-radius: 10px;
  border: 2px solid grey;
}

.chat {
  clear: both;
  width: 95%;
  border: 2px solid grey;
  border-radius: 10px;
  height: 100px;
  padding: 10px 10px 15px 15px;
  position: absolute;
  bottom: 10px;
  left: 2.5%;
}

.landing {
  height: 100vh;
  background: url(./img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -999;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  width: 40%;
}

.drop-it {
  width: 40%;
  margin: 0 auto;
  border: 2px solid white !important;
  border-radius: 5px !important;
}

.menu {
  background-color: rgba(255, 0, 0, 0) !important;
  border-color: rgba(255, 0, 0, 0) !important;
  font-size: 20px !important;
}

.chat-btn {
  width: 40%;
  background-color: grey !important;
  border: 2px solid grey !important;
  border-radius: 50px !important;
  color: white;
  font-size: 20px !important;
  padding: 10px !important;
  margin-top: 30px;
  font-weight: bolder !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}